.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:any-link {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.light {
    color: red;
}








